.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.box {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 15px;
}

.box-title {
  background-color: #243047;
  color: #fff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  margin: 0;
  width: 101%;
  position: relative;
  top: -15px;
  left: -15px;
  z-index: 1;
}

.box-content {
  margin-top: 20px;
}

.welcome-box {
  grid-column: 1 / -1;
}

.notifications-box {
  grid-column: span 2;
}

.to-do-box {
  grid-column: span 1;
}
