.topbar
{
    width: 100%;
    height: 5%;
    margin-top: 5%;
    border-radius: 5%;
    
}

.TextField{

    width: 20%;
    height:fit-content;
    margin-left: 40%;
    margin-top: 30%;
    border: 2px solid;
    border-color: black;
    label: Enter yout question;


}