.topbar
{
    width: 100%;
    margin-top: 5%;
    
}

.inputWithButton {
    position: relative;
    height: 100px;
    width : 200px;
    margin-left: 85%;
    margin-top: 0%;
}

.chatResponse{

    scroll-behavior: smooth;
    overflow: auto;

}
  

  /* Define styles for smaller screens */
  @media (max-width: 767px) {
    .responsive-textfield {
      width: 100%; /* Full width on smaller screens */
    }
  }

  
  .center{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
  }