.topbar
{
    width: 100%;
    margin-top: 5%;
    
}

.inputWithButton {
    position: relative;
    height: 100px;
    width : 200px;
    margin-left: 85%;
    margin-top: 0%;
}

.chatResponse{

    width: 100%;
    height: fit-content;
    margin-top: 5%;
    border-radius: 5%;
    background-color: #f7cb46;


}
  

  /* Define styles for smaller screens */
  @media (max-width: 767px) {
    .responsive-textfield {
      width: 100%; /* Full width on smaller screens */
    }
  }
  