  /*New CSS files added*/
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  /* Activity and Comment Section */
  .activitySection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .activityContainer {
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  }
  
  .activityFeed {
    margin-bottom: 20px;
  }
  
  .activityItem {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .commentSection {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .messageBox {
    position: fixed;
    bottom: 2%;
    right: calc(1%); 
    width: 20%; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  /* Icon Buttons */
  .verticalBar {
    width: 20%;
    display: absolute;
    flex-direction: column;
    align-items: right;
    margin-right: 2%;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #243047;
    border-radius: 1000px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .icon:hover {
    background-color: #243047;
  }
  
  .icon i {
    font-size: 24px;
    color: #fff;
  }
  
  
  /* Add Comment Form */
  .commentForm {
    display: flex;
    margin-top: 20px;
  }
  
  .commentInput {
    flex-grow: 1;
    padding: 12px; /* Increase padding for the input field */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 18px; /* Increase font size */
  }
  
  .commentSubmit {
    background-color: #243047;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 15px; /* Increase padding for the button */
    cursor: pointer;
  }
  
  
  