.LoginScreen {
    background-color: #243047;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-image {
    width: 606px;
    height: 856px;
    background: url(Login_BG.png);
    border-radius: 0px 50px 50px 0px;
}

.left-rectangle {
    width: 654px;
    height: 856px;
    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
}

.left-rectangle,
.right-image {
    position: relative;
    top: 0;
    left: 0;
}

.LoginScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.right-image {
    margin-right: 0px;

}

.left-rectangle {
    margin-left: 0px;
}

.signinButton {
    position: relative;
    width: 315px;
    height: 80px;
    left: 174.5px;
    top: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000000;
    border-radius: 76px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.signinButton:hover {
    position: relative;
    width: 315px;
    height: 80px;
    left: 174.5px;
    top: 580px;

    background: rgb(71, 71, 71);
    border-radius: 76px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}






/* Sign In */
.Welcome-Text {
    position: relative;

    font-family: 'Roboto';
    font-size: 48px;
    
    color: #000000;
}


input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 29%;
}

.rectangle {
    width: 100%;
    height: 20%;
}





/* Sign In */
.signinBoxText {
    position: relative;
    top: 33%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}



.left-rectangle {
    position: relative;
}


.EmailText {
    position: relative;
    top: 50%;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.passwordTex {
    top: 56%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}