/* styles.css */

.content-area-student {
    display: flex;
    justify-content: space-around;
  }
  
  .payment-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
  }
  
  .payment-icon img {
    max-width: 100px;
  }
  
  h3 {
    margin-top: 10px;
  }
  