.profile-settings {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.field{
  text-align: left;
}
.profile-settings-left {
  flex: 1;
  padding: 30px;
}

.profile-settings-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f5f5f5;
  border-right: 1px solid #e0e0e0;
}

.profile-photo-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.form-group {
  margin-bottom: 40px;
  width: 70%;;
}

.form-input {
  width: calc(100% );
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.update-btn,
.edit-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn:hover,
.edit-btn:hover {
  background-color: #0056b3;
}

.profile-settings-left h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}
