.SignupScreen {
    background-color: #243047;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-image {
    width: 606px;
    height: 856px;
    background: url(Login_BG.png);
    border-radius: 0px 50px 50px 0px;
}

.left-rectangle {
    width: 654px;
    height: 856px;
    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
}

.left-rectangle,
.right-image {
    position: relative;
    top: 0;
    left: 0;
}

.LoginScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.right-image {
    margin-right: 0px;

}

.left-rectangle {
    margin-left: 0px;
}

.signinButton {
    position: absolute;
    width: 45%;
    height: 8%;
    left: 174.5px;
    top: 68%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000000;
    border-radius: 76px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.signinButton:hover {
    background: rgb(71, 71, 71);
}






/* Sign In */
.Welcome-Text {
    position: relative;
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    
    color: #000000;
}



.rectangle {
    width: 100%;
    height: 20%;
}




.left-rectangle {
    position: relative;
}


.EmailText {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.input-email {
    position:absolute;
    top: 44%;
    left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 39%;
    outline: none;
}

.passwordTex {
    position:absolute;
    top: 54%;
    left: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}


.input-pw {
    position: absolute;
    top: 58%;
    left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 39%;
    outline: none;
}

.sign-up-text{
    position:absolute;
    top: 82%;
    left:40%;
}


