.SignupScreen {
    background-color: #243047;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-image {
    width: 606px;
    height: 856px;
    background: url(Login_BG.png);
    border-radius: 0px 50px 50px 0px;
}

.left-rectangle {
    width: 654px;
    height: 856px;
    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
    position: relative;
    top:10%;
}

.left-rectangle,
.right-image {
    position: relative;
    top: 20px;
    left: 0;
}

.SignupScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.right-image {
    margin-right: 0px;

}

.left-rectangle {
    margin-left: 0px;
}

.signinButton {
    position: absolute;
    width: 42%;
    height: 7%;
    left: 25%;
    top: 68%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000000;
    border-radius: 76px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.signinButton:hover {
    background: rgb(71, 71, 71);
}






/* Sign In */
.Welcome-Text1 {
    position: relative;
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    
    color: black;
    margin-top: 15%;
}



.rectangle {
    width: 100%;
    height: 10%;
}




.left-rectangle {
    position: relative;
}

.NameText {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.input-name {
    position:absolute;
    top: 33%;
    left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 39%;
    outline: none;
}

.EmailText {
    position: absolute;
    top: 41%;
    left: 20%;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.input-email {
    position:absolute;
    top: 41%;
    left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 39%;
    outline: none;
}

.passwordTex {
    position:absolute;
    top: 49%;
    left: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}


.input-pw {
    position: absolute;
    top: 49%;
    left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 39%;
    outline: none;
}

.input-contact {
    position: absolute;
    top: 57%;
    left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 39%;
    outline: none;
}

.sign-up-text{
    position:absolute;
    top: 89%;
    left:38%;
    text-align: center;
}


