.content-area-student {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
}

.subject-card {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.subject-card-content {
  text-align: center;
}

.subject-card p {
  margin: 0;
}

button {
  background-color: #3ec1d3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2e8ca6;
}

h1,
p {
  margin-bottom: 10px;
}

/* Add more specific styling as needed */
p .course-name {
  font-weight: bolder;
}

p .course-description {
  font-style: italic;
  font-size: smaller;
}
