.classes-container {
    text-align: center;
    padding: 20px;
    width:40%;
  }
  
  .class-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .class-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .class-item:hover {
    background-color: #d1d1d1;
  }
  
  .submenu-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .back-button {
    background-color: #243047;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #1c2938;
  }
  
  h1, h2 {
    color: #243047;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  li {
    color: #243047;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #d1d1d1;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .class-card {
    width: 200px;
    padding: 20px;
    height: 100px;
    border: 1px solid #05599e;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .class-card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  }
  
  .class-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .tutor-info {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .tutor-name {
    margin-left: 10px;
    /*make the text italic*/
    font-style: italic;
  }
  
  /* Updated CSS */
.classes-container {
  text-align: center;
  padding: 20px;
  width: 100%; /* Use 100% of the screen width */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.class-card {
  width: calc(28% - 10px); /* Adjust the width based on the number of cards you want in a row */
  padding: 20px;
  margin-top: 20px;
  height: 150px;
  border: 1px solid #05599e;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

/* ... (rest of your styles) */
