.content-area-student {
  display: flex;
  background-color: white;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 5%;
  color: #f7cb46;
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.subject-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.subject-item {
  background-color: #FF5B5B;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.subject-item:hover {
  transform: translateY(-10px);
  background-color: #FF3B3B;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}