.content-area-student {
  
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 100%; /* Set a max width for better layout on larger screens */
  position: relative;

}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 5%;
  color: #f7cb46;
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.subject-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 20px); /* Adjust the width to create a responsive grid */
  height: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #FF5B5B;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.subject-item:hover {
  transform: translateY(-10px);
  background-color: #FF3B3B;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.center{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 2%;
}