.class-links {
  margin: 20px 0;
  margin-left: 100px;
  max-width: 600px;
  text-align: center;
}

.class-links table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}
.class-links table th,
.class-links table td {
  padding: 10px;
  word-break: break-word;
}

.class-links th {
  background-color: #243047;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.class-links td {
  background-color: #f6f6f6;
}

.class-links a {
  color: #3ec1d3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.class-links a:hover {
  color: #1b8798;
}

.class-links th:hover {
  background-color: #1b8798;
}