.card {
  border: 1px solid #5e4949;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 150px;
  position: relative;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px;

  /* now small the space between cards */
  margin-bottom: 50px;
  margin-top: 10px;

}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if there isn't enough space */
  justify-content: space-between; /* Distribute cards evenly */
}


.card:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
} 

.top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.bottom-part {
  margin-top: 20px;
}

h4 {
  margin: 0;
  font-size: 18px;
}

h3 {
  margin: 5px 0;
  font-size: 16px;
}

.course-description {
  font-size: 14px;
}
