.tutor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .tutor-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tutor-buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #f7cb46;
    color: #fff;
    cursor: pointer;
  }
  
  .tutor-buttons button.active {
    background-color: #243047;
  }
  
  .available-tutors {
    text-align: center;
  }
  
  .available-tutors h2 {
    margin-bottom: 10px;
  }
  
  .available-tutors ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .available-tutors li {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #e1e1e1;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .available-tutors li:hover {
    background-color: #d1d1d1;
  }
  
  .selected-tutor {
    margin-top: 20px;
  }
  
  .selected-tutor h3 {
    margin-bottom: 10px;
  }
  
  .become-tutor-form {
    text-align: center;
  }
  
  .become-tutor-form h2 {
    margin-bottom: 10px;
  }
  
  .become-tutor-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .become-tutor-form label {
    margin-bottom: 5px;
  }
  
  .become-tutor-form input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
  }
  
  .become-tutor-form button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #f7cb46;
    color: #fff;
    cursor: pointer;
  }
  
  .become-tutor-form button[type='submit'] {
    background-color: #243047;
  }
  .confirm-tutor-button {
    margin-top: 10px;
  }
  
  .confirm-tutor-button button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #f7cb46;
    color: #fff;
    cursor: pointer;
  }
  
  .confirm-tutor-button button:hover {
    background-color: #243047;
  }

  
  /* CSS for the AvailableTutor component */
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-pic img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .bottom-part {
    margin-top: 20px;
  }
  
  .course-description {
    font-size: 14px;
  }
  