.sent img,
.received img {
  width: 32px; /* Adjust the size of the profile picture */
  height: 32px;
  border-radius: 50%; /* Creates a circular profile picture */
  object-fit: cover; /* Ensures the image maintains its aspect ratio and covers the entire container */
  margin-right: 8px; /* Add some spacing between the image and message */
}

.sent div,
.received div {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
  padding: 8px; /* Adjust padding */
  max-width: 70%;
  word-wrap: break-word;
}

.timestamp {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}

/* Add some margin to separate messages */
.sent, .received {
  margin-bottom: 8px;
}
